.CreateCharacter {
    background-image: url("https://cdn.discordapp.com/attachments/1071595350437134456/1089872318563614720/Group_3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 344px;
    max-height: 588px;
    min-width: 424px;
    min-height: 508px;
    user-select: none;
}

.character__class__image {
    width: 60px;
    height: 60px;
}

.character__name {
    margin-top: 47px;
    margin-left: 49px;
    height: 29px;
    width: 160px;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 32px;
}

.character__name:focus {
    outline: none;
}


.character__stats {
    position: relative;
    top: 83px;
    left: 325px;
    color: #e1cea9;
    font-size: 32px;
}

.character__stats div:nth-child(2),
.character__stats div:nth-child(3),
.character__stats div:nth-child(4) {
    margin-top: 5px;
}

.stat {
    position: relative;
    left: -3px;
    top: -2px;
}

.stat__up {
    rotate: 90deg; position: relative; display: inline-block;top: -11px; left: 19px;
}

.stat__down {
    display: inline-block; rotate: 90deg; position: relative; top: 18px; left: -18px;
}