html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'm5x7', monospace;
    font-size: 16px;
}

@font-face {
    font-family: 'm5x7';
    src: url('./fonts/m5x7.ttf');
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#root,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game {
    position: relative;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#main-game-display {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: #25131A;
    display: block;
}

#hud-display {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border: 1px solid #000;
}

#stats {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

#minimap-wall-layer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

#minimap-entity-layer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}

#cover {
    position: absolute;
    width: 55px;
    top: 40px;
    left: 40px;
    z-index: 1;
}

#cover-logo {
    z-index: 5;
    width: 100%;
    height: 0;
    padding: 50% 0;
    text-align: center;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


#cover-logo div {
    overflow: hidden;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #171916;
    border: 2px solid #6e4a48;
}

#cover-logo div::after {
    content: '';
    width: 20px;
    height: 20px;
    background: #ffffff15;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#cover-logo img {
    display: block;
    transform: translate(-50% -50%);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    z-index: 2;
}

#cover-logo span {
    display: block;
    transform: translate(-50% -50%);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    top: 70%;
    left: 70%;
    position: absolute;
    color: #fff;
    z-index: 2;
    font-size: 16px;
}

#slot-1 {
    left: -5px;
    top: -5px;
}

#slot-2 {
    right: -5px;
    top: -5px;
}

#slot-3 {
    left: -5px;
    bottom: -5px;
}

#slot-4 {
    right: -5px;
    bottom: -5px;
}

#indicator {
    width: 300px;
    position: relative;
    top: -55px;
    left: 63px;
}

#HPHearth {
    height: 17px;
    position: absolute;
    right: 10px;
    top: 0px;
}

#HPBar {
    position: absolute;
    top: 10px;
    width: 300px;
    height: 15px;
    background: linear-gradient(90deg, #992020 100%, #180e12 100%);
    clip-path: url(#clipPath );
    z-index: 32;
    transition: background 0.5s;
}

#HPValue {
    position: absolute;
    right: 33px;
    font-size: 16px;
    top: -4px;
    text-align: end;
}

#XPData {
    position: absolute;
    top: -4px;
    left: 25px;
}


#XPBar {
    position: absolute;
    top: 31px;
    width: 300px;
    height: 15px;
    background: #FFAF6599;
    background: linear-gradient(90deg, #FFAF6599 100%, #180e12 100%);
    transform: scaleY(-1);
    clip-path: url(#clipPath );
}

#affliction {
    top: 20px;
    left: 22px;
    position: relative;
}

#affliction img {
    width: 19px;
}

#inventory {
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: red;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

#inventory-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.inventory-header-slot1  { grid-area: 1 / 1 / 2 / 2; }
.inventory-header-slot2  { grid-area: 1 / 2 / 2 / 3; }
.inventory-header-slot3  { grid-area: 1 / 3 / 2 / 4; }
.inventory-header-slot4  { grid-area: 1 / 4 / 2 / 5; }
.inventory-header-slot5  { grid-area: 1 / 5 / 2 / 6; }
.inventory-header-slot6  { grid-area: 2 / 1 / 3 / 2; }
.inventory-header-slot7  { grid-area: 2 / 2 / 3 / 3; }
.inventory-header-slot8  { grid-area: 2 / 3 / 3 / 4; }
.inventory-header-slot9  { grid-area: 2 / 4 / 3 / 5; }
.inventory-header-slot10 { grid-area: 2 / 5 / 3 / 6; }
.inventory-header-slot11 { grid-area: 3 / 1 / 4 / 2; }
.inventory-header-slot12 { grid-area: 3 / 2 / 4 / 3; }
.inventory-header-slot13 { grid-area: 3 / 3 / 4 / 4; }
.inventory-header-slot14 { grid-area: 3 / 4 / 4 / 5; }
.inventory-header-slot15 { grid-area: 3 / 5 / 4 / 6; }